/* stylesheet for participants-database plugin */

/* SIGNUP FORM */

.pdb-signup label {
  display:inline-block;
  width:135px;
  margin-right:10px;
  text-align:right;
}
.pdb-signup .helptext {
  display:block;
  margin-left:150px;
}
.pdb-signup td .helptext {
  margin-left:0px;
}
.pdb-signup .checkbox .helptext {
  display: inline-block;
}

/* RECORD FORM */

.edit-participant  input[type='checkbox'] {
  position:relative;
  top:2px;
}
.edit-participant textarea,
.participants_db textarea,
.participants_db input[type='text'],
.edit-participant input[type='text'],
.edit-participant input[type='checkbox'],
.multicheckbox label,
.link-element label {
  float:left;
  margin-right:10px;
}
.edit-participant input[type='checkbox'] {
	margin-right: 3px;
}
.edit-participant h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.edit-participant .helptext, 
.participants_db .helptext {
  text-align:left;
  vertical-align:top;
}
.edit-participant .helptext {
  display:block;
  width:100%;
}
.edit-participant .submit-buttons {
  border:none;
}
.edit-participant .form-table th {
  width:195px;
  vertical-align:top;
  padding-top: 1ex;
}
.edit-participant .form-table h3 {
  margin-top:0;
  margin-bottom:0;
}
.edit-participant .form-table tr.hidden {
  visibility:hidden;
  position:absolute;
}
.edit-participant .uploaded-image {
  width:auto;
  height:85px;
  float:left;
  margin-right:10px;
}
.edit-participant .wp-editor-wrap {
  max-width: 600px;
}
.edit-participant .wp-editor-area {
  background-color: #FFFFFF;
  border: 2px solid #DFDFDF;
  color: #333333;
  height: 20em;
}
.edit-participant label.file-delete {
	display: block;
}

/* Select Other */
.selectother label {
  float: left;
  margin: 0 6px 0 3px;
  width: auto;
}
.selectother {
  display: inline-block;
  border: 1px solid #DDDDDD;
  overflow: auto;
  padding: 5px;
}
.selectother input[type=text] {
  margin-right:0;
}
.dropdown-other select {
    float: left;
    margin-right: 10px;
}

/* LIST */

.pdb-list .wp-list-table th,
.pdb-list .wp-list-table td {
  line-height: 1.1;
  vertical-align: middle;
}
.pdb-list fieldset,
.pdb-list table caption {
  margin: 1em 0;
}
.pdb-list fieldset {
  border: none;
}
.pdb-list span.textarea {
  display: block;
  max-height: 5em;
  max-width: 150px;
  overflow: auto;
}
.pdb-searchform input[type=text],
.pdb-searchform input[type=submit],
.pdb-searchform select,
.pdb-searchform label.checkbox {
  margin: 0 5px 0 0;
}
.pdb-searchform input[type=checkbox],
.pdb-searchform input[type=radio] {
  margin-left:5px;
}

/* pagination */
.pdb-list .pagination {
  overflow:auto;
}
.pdb-list .pagination ul {
  margin:0;
  list-style:none;
}
.pdb-list .pagination li span,
.pdb-list .pagination a {
  float:left;
  margin: 0 3px;
  padding: 1px 5px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
.pdb-list .pagination li:first-of-type span,
.pdb-list .pagination li:first-of-type a {
  margin-left:0;
}
.pdb-list .pagination li:last-of-type span,
.pdb-list .pagination li:last-of-type a {
  margin-right:0;
}
.pdb-list .pagination li.currentpage:first-child,
.pdb-list .pagination li:first-child a {
  margin-left:0;
}
.pdb-list .pagination a {
  text-decoration:none;
}
.pdb-list .pagination a:hover,
.pdb-list .pagination li.currentpage {
  background-color: #cccccc;
}
.pdb-list .pagination label {    
  float: left;
  margin: 8px 6px 0 0;
}

/* SINGLE */
.pdb-single dl {
	overflow: auto;
}
.pdb-single dd {
  overflow:auto;
  margin: 0 0 1.625em 0.8em;
}
.pdb-single dt {
	float: left;
	font-weight: bold;
	width: 140px;
	margin: 0 10px 1.625em 0;
}
.pdb-single .image-field-wrap img {
  height: 3em;
}
.pdb-single .image-field-wrap {
  float: none;
}
.pdb-single span.textarea {
  height: auto;
}

/* images */

.image-field-wrap {
  display: block;
}
.image-field-wrap.empty {
  height: auto;
}
.image-field-wrap img {
  height: 50px;
  width: auto;
}
.pdb-record .image-field-wrap,
.pdb-record .file-link-wrap {
  float: left;
  margin-right:10px;
}

/* ERRORS / MESSAGES */

.pdb-error {
  display:inline-block;
  padding:4px 7px;
  background-color: #FFEBE8;
  box-shadow:0 0 6px #CC0000 inset;
  margin:0.5em 0;
}
.pdb-error li {
  margin:0.5em 20px;
}
.pdb-message {
  padding:4px 7px;
  background-color: #C4F092;
  box-shadow:0 0 6px #2DAA00 inset;
}
.pdb-error p, .pdb-message p {
  margin:0;
}