/* ERRORS / MESSAGES */
.pdb-error {
	display:inline-block;
	padding:4px 7px;
	background-color: #FFEBE8;
	box-shadow:0 0 6px #CC0000 inset;
	margin:0.5em 0;
}
.pdb-error li {
	margin:0.5em 20px;
}
.pdb-message {
	padding:4px 7px;
	background-color: #C4F092;
	box-shadow:0 0 6px #2DAA00 inset;
}
.pdb-error p, .pdb-message p {
  margin:0;
}