@charset "UTF-8";
.pdb-signup label {
  display:inline-block;
  width:135px;
  margin-right:10px;
  text-align:right;
}
.pdb-signup .helptext {
  display:block;
  margin-left:150px;
}
.pdb-signup td .helptext {
  margin-left:0px;
}