/* Participants Database Global Admin Stylesheet */

.branch-3-4 #adminmenu #toplevel_page_participants-database div:hover.wp-menu-image {
	background: url("../../../../wp-admin/images/menu.png?ver=20100531") no-repeat scroll -300px -1px transparent;
}
.branch-3-4 #adminmenu #toplevel_page_participants-database div.wp-menu-image {
	background: url("../../../../wp-admin/images/menu.png?ver=20100531") no-repeat scroll -300px -33px transparent;
}
#adminmenu #toplevel_page_participants-database div.wp-menu-image {
  background-position: -300px -33px;
}
#adminmenu #toplevel_page_participants-database div:hover.wp-menu-image {
  background-position: -300px -1px;
}
#toplevel_page_participants-database img {
	visibility:hidden;
}