/* RECORD FORM FORMATTING */
.edit-participant  input[type='checkbox'] {
  position:relative;
  top:4px;
}
.edit-participant textarea,
.participants_db textarea,
.participants_db input[type='text'],
.edit-participant  input[type='text'],
.edit-participant  input[type='checkbox'],
.multicheckbox label,
.link-element label {
  float:left;
  margin-right:10px;
}
.edit-participant h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.edit-participant .helptext, .participants_db .helptext {
  text-align:left;
  vertical-align:top;
}
.edit-participant .helptext {
  display:block;
  width:100%;
}
.edit-participant .submit-buttons {
  border:none;
}
.edit-participant .form-table th {
  width:195px;
  vertical-align:top;
  padding-top: 1ex;
}
.edit-participant .form-table h3 {
  margin-top:0;
  margin-bottom:0;
}
.edit-participant .form-table tr.hidden {
	visibility:hidden;
	position:absolute;
}
.edit-participant .uploaded-image {
  width:auto;
  height:85px;
  float:left;
  margin-right:10px;
}
.selectother label {
  float: left;
  margin: 0 3px;
}
.selectother {
  border: 1px solid #DDDDDD;
  overflow: auto;
  padding: 2px 5px;
}


/* ERRORS / MESSAGES */
div.pdb-error {
    padding:4px 7px;
    background-color: #FFEBE8;
    box-shadow:0 0 6px #CC0000 inset;
}
div.pdb-message {
    padding:4px 7px;
    background-color: #C4F092;
    box-shadow:0 0 6px #2DAA00 inset;
}
div.pdb-error p, div.pdb-message p {
  margin:0;
}