# security settings for uploads directory
Options -Indexes
Options -ExecCGI 
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi 

<Files ^(*.jpeg|*.jpg|*.png|*.gif|*.csv)>
order deny,allow
deny from all
</Files>